.words {
    position: relative;
    height: 144px;
    overflow: hidden;
    transition: 0.25s;
    
    &__arr{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        transform: translateY(0);
    }

    &--blured{
        opacity: .25;
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }
}
  