@import "../../base/styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    
    padding-inline: $gap-container-mobile;

    max-width: $max-container-width;

    height: 100vh;

    @media #{$tablet-width} {
        padding-inline: $gap-container-tablet;
    }
    @media #{$laptop-width} {
        padding-inline: $gap-container-laptop;
    }
    @media #{$desktop-width} {
        padding-inline: $gap-container-laptop;
    }
}