@import "../../base/styles/variables.scss";
.letter {
  font-size: 32px;
  line-height: 32px;
  color: $deep-sea-green;
  text-shadow: 1px 0px 0px $big-stone, -1px 0px 0px $big-stone, 0px 1px 0px $big-stone, 1px 1px 0px $big-stone, -1px 1px 0px $big-stone;

  z-index: 1;
  &__correct {
    color: $java;
  }

  &__incorrect {
    color: $punch;
  }
}
  