@import "../../base/styles/variables.scss";

.footer{
    display: flex;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

    }

    &__text{
        color: $deep-sea-green;
        font-size: 15px;
        padding: 3px 6px;
    }
    
    &__links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}